*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(99, 1, 99);
    height: 9vh;
    width: 100%;
}

#logo{
    width: 25%;
    height: 6vh;
    margin-top: 1.5vh;
    margin-left: 0.7%;
    float: left;
}

#logo img{
    height: 6vh;
    width: auto;
    float: left;
}

#logo a{
    text-decoration: none;
    color: #111;
}

#logo p :hover{
    text-decoration: underline;
}

#logo p{
    font-size: 5vh;
    margin-left: 1vh;
}

nav{
    height: 7vh;
    background-color: #6D6D6D;
}

nav li{
    list-style: none;
    display: inline-flex;
    margin-left: 17.3vh;
    font-size: 4vh;
    margin-top: 0.16vh;

}

nav li a:hover{
    color: #000;
    background-color: #620080;
}

nav li a{
    color: #000;
    transition: all 0.5s;
    text-decoration: none;
    padding: 1vh 10%;
    border-radius: 10vh;
}

section{
    background-color: rgba(119, 119, 119,);
    height: 130vh;
    width: 100%;
    float: left;
    background-image: url(../img/tower.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vh;
}

footer{
    height: 4vh;
    background-color: #444;
    width: 100%;
    float: left;
}

footer p{
    font-size: 2vh;
    color: #ffffff;
    margin-left: 41%;
    margin-top: 1vh;
}

article{
    background-color: rgba(119, 119, 119,0.2);
    height: 60vh;
    width: 23%;
    float: left;
    margin-left: 1.66%;
    margin-top: 3.3vh;
}

article p{
    font-size: 3vh;
    text-align: center;
}

#article1 img{
    height: 22vh;
    width: auto;
    float: left;
    margin-left: 1.7%;
    margin-top: 0.6vh;
}

#article2 img{
    height: 31vh;
    width: auto;
    float: left;
    margin-left: 0.41%;
    margin-top: 0.1vh;
}

#article3 img{
    height: 29vh;
    width: auto;
    float: left;
    margin-left: 0.23%;
    margin-top: 0.11vh;
}

#article4 img{
    height: 40vh;
    width: auto;
    margin-left: 0.3%;
    margin-top: 0.1vh;
    float: left;
}

#article5 img{
    height: 27vh;
    width: auto;
    float: left;
    margin-left: 0.69%;
    margin-top: 0.3vh;
}

#article6 img{
    height: 39.5vh;
    width: auto;
    margin-left: 0.93%;
    margin-top: 0.3vh;
}

#article7 img{
    height: 40vh;
    margin-left: 7%;
    margin-top: 2.5vh;
    width: auto;  
}

#article8 img{
    height: 38vh;
    width: auto;
    margin-left: 3%;
    margin-top: 1.5vh;
}